.lobby-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.find-game-button,
.game-modes button {
  padding: 15px 30px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
  background-color: #222;
  color: white;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.find-game-button:hover,
.game-modes button:hover {
  background-color: #444;
}
